* {
  margin: 0; /* this declaration removes the default margin and padding */
  padding: 0;
}

body {
  /* this declaration sets an image for the background of the app */
  background-image: url("https://i.imgur.com/2R6FSTE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  /*the cards are layed out appropriately using flexbox */
  height: 600px;
  width: 700px;
  margin: 0 auto;
  /* margin-bottom: 60px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.heading {
  font-size: 2.4rem;
  text-align: center;
  color: orangered;
  text-shadow: 2px 2px gold;
  font-weight: 500;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 900;
}

.card-img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  /* the cards are animated and their transitions set using the declarations below */
  transform: scale(0);
  animation: 2s hideImage linear;
  transition: transform 0.5s;
}

.card {
  background-image: url("https://i.pinimg.com/originals/8e/85/d9/8e85d9446961086853d8f6b7821f44d4.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg); /* flips each card */
  animation: 2s hideItem linear;
  margin-bottom: 12px;
  border-radius: 5px;
  transition: transform 0.5s;
}

@keyframes hideItem {
  0%,
  70% {
    /*causes the flip effect by allowing a 180 degree turn on the y-axis */
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes hideImage {
  0%,
  70% {
    /*this declaration hides the image by changing it's scale to 0 thereby hiding it*/
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
}

.card.active img {
  /*when a card is active it's scale is 1 and fully visible */
  transform: scale(1);
}

.start {
  font-size: 1.6rem;
  background-color: rgb(0, 110, 0);
  text-shadow: 1px 2px 3px black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 3%;
}

.modal {
  margin: 10% auto;
  background-color: rgb(3, 151, 28);
  text-shadow: 1px 2px 3px black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 900px;
  border-radius: 10px;
  outline: 2px solid rgb(247, 248, 157);
}

.header {
  font-style: italic;
}

.body {
  font-size: 1.2rem;
  font-style: italic;
}

.footer button {
  margin-top: 5px;
  font-size: 1.2rem;
  color: white;
  padding: 5px;
  background-color: rgb(36, 26, 26);
  border-radius: 5px;
}

.modalButton {
  margin-bottom: 15px;
  width: fit-content;
  color: white;
  font-style: italic;
  font-size: 1.6rem;
  background-color: rgb(192, 4, 4);
  text-shadow: 1px 2px 3px black;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  font-weight: 800;
}

.modalContainer {
  min-height: 100vh;
  min-width: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% auto;
}
